{%extends 'base.html' %}
{%block username%}
{%if session["username"] %}
    <span>Logged in as: {{username}}</span>
{%endif%}
{%endblock%}
{%block title%}
<h1>Feedback Site</h1>
{%endblock%}
{%block content%}
<h2>Home</h2>
{%for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}">{{ msg }}</div>
{%endfor%}
{%if not session["username"] %}
    <h4>You are currently not logged in</h4>
    <a href="/register" class="btn btn-primary">Register</a>
    <a href="/login"class="btn btn-warning">Login</a>
{%endif%}
{%if session["username"] %}
    <a href="/users/{{username}}" class="btn btn-primary">User Page</a>
    <h3>Recently Posted Feedback</h3>
    {%for post in posts%}
        <h4>{{post.title}}</h4>
        <p>{{post.content}}</p>
        {%if post.author.username %}
            <p><b>By {{post.author.username}}</b></p>
        {%else%}
            <p><b>By deleted_user</b></p>
        {%endif%}
        <hr>
    {%endfor%}
{%endif%}
{%endblock%}